.register{
    background-color: white;
    padding: 10em;
    border-radius: 5px;
}
.register h1{
    width: 100%;
    text-align: center;
}
.register .registerForm{
    width: 100%;
    margin-top: 15px;
    position: relative;
    flex-direction: column;
    gap: 10px;

}
.inputgrp{
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 4px;
}
.inputgrp .inputLabel{
    font-size: 2rem;
}
.input{
    padding: 0.1em;
    font-size: 2rem;
    border: 1px solid #444;
    border-radius: 5px;
    
}
.info{
    display: flex;
    gap: 15px;
    padding: 8px;
    width: 80%;
    margin-top: 18px;
}
.input:focus{
    outline: none;
}
.Register-btn{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
    background-color: #FF3E6C;
    border: none;
    width: 100%;
    margin-top: 18px;
    padding: 0.5em 0.3em;
    border-radius: 0.3em;
}
.Register-btn:hover{
    background-color: #aa2a48;
}
.Register-btn:active{
    transform: translateY(-2px);
}